<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Onboarding Task</title>
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/style.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Onboarding Task</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin: 0;">
                    <li class="active"><a href="/Products/ProductList"><span class="glyphicon glyphicon-home"></span>Products</a></li>
                    <li><a href="/Customers/CustomersList"><span class="glyphicon glyphicon-list"></span>Customers</a></li>
                    <li><a href="/Sales/Sales"><span class="glyphicon glyphicon-fire"></span>Sales</a></li>
                </ul>
            </div>

        </div>
    </nav>

    @RenderBody()


    <footer id="footer">
        <div class="container">
            <p>ASP.NET MVC| GIT | PYHON</p>
            <p> © 2017  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Powered by Hao.</p>
        </div>
    </footer>



    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
